---

---
<!-- <video id="background-video" autoplay loop muted>
	<source src="./background.mp4" type="video/mp4">
</video> -->
<div class="background">
	<img src="./background.png" alt="background">
</div>

<div class="content">
	<img id="logo" src="./rl-stellarclash.png" alt="rocket-league-stellar-clash">
	<h1>Rocket League: Stellar Clash</h1>
	<h2>07/02 - 09/02</h2>
	<span>Inscripciones abiertas</span>
	<div class="buttons">
		<a href="https://forms.gle/eUVHKMMXQDMDZpMc6" target="_blank" class="main-button">Inscribirme</a>
		<a href="./Dossier Oficial - Rocket League_ Stellar Clash.pdf" target="_blank" class="second-button">Mas Información</a>
	</div>
	<div class="arrows-down">
		<img src="./arrows-down.png" alt="arrows-down">
	</div>
</div>

<section id="info">
	<h3>¡Bienvenidos al torneo más frenético del Sistema Solar!</h3>
	<p>En este evento, hasta <strong class="gradient-text"><i>32 equipos</i></strong> con temática basada en los astros de nuestro alrededor se enfrentarán en un torneo <strong class="gradient-text">3v3</strong> para determinar quién es el mejor y ser merecedor de gobernar nuestro Sistema. <i>¿Te atreves a demostrar que tú y tu grupo sois los verdaderos candidatos al premio?</i></p>
</section>

<section class="structure">
	<h3>Estructura del Torneo</h3>
	<p>El evento se desarrollará durante <strong class="gradient-text">3 días consecutivos</strong>, dividiéndose en dos fases principales</p>
	<h4><strong class="gradient-text-blue">Fase de grupos <i> (DAY 1 y DAY 2)</i> :</strong></h4>
	<div class="points">
		<ul>
			<li>Los 32 equipos participantes se dividirán en <strong class="gradient-text">8 grupos</strong> de <strong class="gradient-text">4 equipos</strong></li>
			<li>Cada grupo jugará en un formato de todos contra todos (round robin) a <strong class="gradient-text">partido único</strong></li>
			<li>
				Se asignarán puntos en función de los resultados: <br>
				<ul>
					<li><strong>Victoria</strong>: 1 punto.</li>
					<li><strong>Derrota</strong>: 0 puntos.</li>
				</ul>
			</li>
			<li>
				En caso de <strong class="gradient-text">empate en puntos</strong>, se utilizarán los siguientes criterios de desempate:
				<br>
				<ul>
					<li><strong>DF</strong> (Diferencia de goles).</li>
					<li><strong>GF</strong> (Goles a favor).</li>
					<li><strong>Resultado directo</strong> entre los equipos empatados.</li>
				</ul>
			</li>
		</ul>
	</div>
	<h4><strong class="gradient-text-blue">Fase de eliminatorias <i> (DAY 3)</i> :</strong></h4>
	<div class="points">
		<ul>
			<li>Los <strong class="gradient-text">2 mejores equipos</strong> de cada grupo avanzarán a una fase eliminatoria con un total de 16 equipos.</li>
			<li>Los enfrentamientos de eliminatorias se disputarán en un formato <strong class="gradient-text">best of 3</strong></li>
			<li>
				La <strong class="gradient-text">final</strong> se jugará en un formato <strong class="gradient-text">best of 5</strong>
			</li>
		</ul>
	</div>
</section>

<section class="structure">
	<h3>Fechas</h3>
	<div class="row">
		<div class="column left">
			<span class="time-title">Apertura de Inscripciones</span>
		</div>
		<div class="column">
			<strong class="gradient-text">11/01 00:00h CET</strong>
		</div>
	</div>
	<div class="row">
		<div class="column left">
			<span class="time-title">Cierre de Inscripciones</span>
		</div>
		<div class="column">
			<strong class="gradient-text">31/01 23:59h CET</strong>
		</div>
	</div>
	<div class="division-line"></div>
	<div class="row">
		<div class="column left">
			<span class="time-title">Presentacion de Equipos</span>
		</div>
		<div class="column">
			<strong class="gradient-text">01/02 - 04/02</strong>
		</div>
	</div>
	<div class="division-line"></div>
	<div class="row">
		<div class="column left">
			<span class="time-title">Sorteo de Fase de Grupos</span>
		</div>
		<div class="column">
			<strong class="gradient-text">05/02 21:00h CET</strong>
		</div>
	</div>
	<div class="division-line"></div>
	<div class="row">
		<div class="column left">
			<span class="time-title">DAY 1 (Fase de Grupos)</span>
		</div>
		<div class="column">
			<strong class="gradient-text">01/02 17:00h CET</strong>
		</div>
	</div>
	<div class="row">
		<div class="column left">
			<span class="time-title">DAY 2 (Fase de Grupos)</span>
		</div>
		<div class="column">
			<strong class="gradient-text">08/02 17:00h CET</strong>
		</div>
	</div>
	<div class="row">
		<div class="column left">
			<span class="time-title">DAY 3 (Fase de Eliminatorias</span>
		</div>
		<div class="column">
			<strong class="gradient-text">09/02 15:00h CET</strong>
		</div>
	</div>
</section>

<section class="structure next">
	<h3>Próximamente</h3>
	<p>Equipos, participantes y premios serán anunciados en breve...</p>
	<p>Para más información, consulta el <a href="https://docs.google.com/document/d/1iCrY_sdzacETNtxOxZQi7BtV8mip5GrdOX53w_AmqaE/edit?usp=sharing" target="_blank"><strong class="gradient-text">Dossier Oficial</strong></a> o ponte en contacto con <strong class="gradient-text">spasiomike</strong>.</p>
</section>

<style>
	* {
		font-family: Poppins, Arial, Helvetica, sans-serif;
	}

	.background {
		height: 100vh;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}

	.content {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: Poppins, Arial, Helvetica, sans-serif;
	}

	#logo {
		margin-top: 10%;
		width: 55%;
		animation: fadeInImage 2s;
		animation-timing-function: ease-in-out;
		transition: 1s ease-in-out;
	}

	#logo:hover {
		scale: 105%;
	}

	@keyframes fadeInImage {
		0% { 
			opacity: 0;
			scale: 85%;
		}
		70% {
			scale: 105%;
		}
		100% { 
			opacity: 1;
			scale: 100%;
		}
	}

	h1 {
		display: none;
	}
	
	h2 {
		font-family: Oswald, 'Courier New', Courier, monospace;
		font-weight: 500;
		font-size: 24px;
		margin-top: 1rem;
		margin-bottom: 1rem;
		color: rgb(224, 224, 224);
		text-shadow: rgb(255, 255, 255) 0px 0px 100px;
		transition: 0.5s ease-in-out;
		cursor: default;
	}

	h2:hover {
		scale: 105%;
	}

	span {
		font-family: Oswald, 'Courier New', Courier, monospace;
		font-weight: 600;
		font-size: 24px;
		background: #FE305F;
		background: linear-gradient(to bottom, #FE305F 0%, #FF2985 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: #FE305F 0px 0px 10px;
		animation: bounce 3s ease-in-out;
		animation-iteration-count: infinite;
		transition: 0.5s ease-in-out;
		cursor: default;
	}

	@keyframes bounce {
		0% {
			scale: 100%;
		}
		50% {
			scale: 105%;
		}
		100% {
			scale: 100%;
		}
	}

	.buttons {
		display: flex;
		gap: 40px;
		margin-top: 3rem;
		margin-bottom: 4rem;
	}

	a {
		padding: 10px 30px;
		border-radius: 30px;
		background: none;
		border: solid 3px rgb(224, 224, 224);;
		color: rgb(224, 224, 224);;
		font-size: 20px;
		cursor: pointer;
		transition: 0.5s ease-in-out;
		text-decoration: none;
	}
	
	a:hover {
		scale: 110%;
	}

	.main-button {
		background-color: rgb(224, 224, 224);
		color: black;
	}

	.arrows-down {
		animation: bounceArrows 5s ease-in-out;
		animation-iteration-count: infinite;
		transition: 0.5s ease-in-out;
	}

	.arrows-down > img{
		width: 2rem;
	}

	@keyframes bounceArrows {
		0%, 100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(30px);
		}
	}

	#info {
		margin: 0rem 15%;
		margin-bottom: 14rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 {
			font-family: Oswald, 'Courier New', Courier, monospace;
			font-size: 50px;
			text-align: center;
		}

		p {
			font-size: 22px;
			text-align: center;
		}
	}

	.structure {
		margin: 0rem 15%;
		margin-bottom: 10rem;

		h3 {
			font-family: Oswald, 'Courier New', Courier, monospace;
			font-size: 50px;
			margin-bottom: 4rem;
			line-height: 0;
		}

		
		h4 {
			font-family: Oswald, 'Courier New', Courier, monospace !important;
			font-size: 32px;
			margin-top: 4rem;
			margin-bottom: 2rem;
			line-height: 0;
		}

		h4 > strong,
		h4 > strong > i {
			font-family: Oswald, 'Courier New', Courier, monospace;
		}

		p {
			font-size: 22px;
		}
		
		.points {
			margin-bottom: 7rem;
		}

		ul {
			font-size: 20px;
			line-height: 4;
		}

		li > ul {
			line-height: 2;
			margin-bottom: 1.5rem;
		}

		.time-title{
			font-family: Oswald, 'Courier New', Courier, monospace;
			font-weight: 600;
			font-size: 24px;
			color: rgb(224, 224, 224);
			background: rgb(224, 224, 224);
			-webkit-background-clip: text;
			-webkit-text-fill-color: rgb(224, 224, 224);
			text-shadow: none;
			animation: bounce 3s ease-in-out;
			animation-iteration-count: infinite;
			transition: 0.5s ease-in-out;
			cursor: default;
		}

		.row {
			display: flex;
			gap: 30px;
			align-items:first baseline;
		}

		.column {
			width: 300px;
		}

		.division-line {
			margin: 1rem 0;
			height: 1px;
			background-color: rgb(224, 224, 224);
			width: 600px;
		}
	}

	.next p {
		line-height: 1;
		font-size: 18px;	
	}

	.next a {
		text-decoration: none;
		cursor: pointer;
		background-color: none;
		padding: 0;
		border: none;
	}

	.next a strong {
		cursor: pointer;
	}

	.gradient-text {
		background: #FE305F;
		background: linear-gradient(to bottom, #FE305F 0%, #FF2985 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: #FE305F 0px 0px 10px;
		cursor: default;
		transition: 0.5s ease-in-out;
	}

	.gradient-text-blue {
		background: #028DA6;
		background: linear-gradient(to bottom, #028DA6 0%, #8DBFCA 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: #8DBFCA 0px 0px 10px;
	}

	.gradient-text:hover{
		font-size: 105%;
	}




	/* MEDIA QUERIES */

	@media (max-width: 1024px) {
		a {
			padding: 5px 20px;
			font-size: 14px;
		}

		#info {
			margin-bottom: 10rem;
		}
		
		#info h3 {
			font-size: 30px;
		}

		#info p {
			font-size: 14px;
		}

		.structure h3 {
			font-size: 30px;
			margin-bottom: 3rem;
		}
		
		.structure p {
			font-size: 14px;
			line-height: 1.5;
		}

		.structure li {
			line-height: 1.5;
			font-size: 14px;
			margin: 2rem 0;
		}

		.structure li ul li {
			margin: 1rem 0;
		}

		.structure .time-title {
			font-size: 18px;
		}

		.structure strong {
			font-size: 14px;
		}
		
		.structure h4 strong{
			font-size: 24px;
			line-height: 0;
		}

		.structure .division-line {
			margin: 1rem 0;
			height: 1px;
			background-color: rgb(224, 224, 224);
			width: 100%;
		}
	}


	
	@media (max-width: 768px) {

		.structure .time-title {
			font-size: 16px;
		}

		.structure strong {
			font-size: 12px;
		}
		
		.structure h4 strong{
			font-size: 22px;
			line-height: 0;
		}
	}

	@media (max-width: 500px) {

		.content {

			h2 {
				font-size: 20px;
			}

			span {
				font-size: 20px;
			}

			#logo {
				margin-top: 0;
				width: 85%;
			}
		}
		
		.buttons {
			gap: 20px;
		}

		a {
			padding: 6px 18px;
			font-size: 14px;
			border: solid 1px rgb(224, 224, 224);
		}

		.structure {
			margin-bottom: 10rem;
		}

		.structure h3 {
			font-size: 20px;
			margin-bottom: 1.5rem;
		}
		
		.structure p {
			font-size: 14px;
			line-height: 1.5;
		}

		.structure li {
			line-height: 1.5;
			font-size: 14px;
			margin: 1rem 0;
		}

		.structure li ul li {
			margin: 0.5rem 0;
		}

		.structure .points {
			margin-bottom: 2rem;
		}

		.structure strong {
			font-size: 14px;
		}

		.structure h4 {
			margin-top: 2rem;
		}
		
		.structure h4 strong{
			font-size: 20px;
			line-height: 0;
		}

		.structure .division-line {
			margin: 1rem 0;
			height: 1px;
			background-color: rgb(224, 224, 224);
			width: 100%;
		}

		.structure .time-title {
			font-size: 12px;
		}

		.structure .row {
			gap: 0;
		}

		.structure .column {
			width: 100px;
		}

		.structure .column.left {
			width: 180px;
		}

		.structure .column strong {
			font-size: 10px;
		}

		#info {
			margin-bottom: 10rem;
		}
		
		#info h3 {
			font-size: 20px;
		}

		#info p {
			font-size: 14px;
		}

		
	}

	@media (max-width: 345px) {
		.structure .column strong {
			font-size: 8px;
		}
	}

</style>