<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
			
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
	
	<!-- https://github.com/gijsroge/tilt.js -->
	<script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>

	<!-- Primary Meta Tags -->
	<title>Rocket League: Stellar Clash - spasiomike</title>
	<meta name="title" content="Rocket League: Stellar Clash - spasiomike" />
	<meta name="description" content="¡Bienvenidos al torneo 3v3 más frenético del Sistema Solar!" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://metatags.io/" />
	<meta property="og:title" content="Rocket League: Stellar Clash - spasiomike" />
	<meta property="og:description" content="¡Bienvenidos al torneo 3v3 más frenético del Sistema Solar!" />
	<meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content="https://metatags.io/" />
	<meta property="twitter:title" content="Rocket League: Stellar Clash - spasiomike" />
	<meta property="twitter:description" content="¡Bienvenidos al torneo 3v3 más frenético del Sistema Solar!" />
	<meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

	<!-- Meta Tags Generated with https://metatags.io -->
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		background-color: black !important;
		scroll-behavior: smooth;
	}
	html,
	body {
		margin: 0;
		font-family: Poppins, Arial, Helvetica, sans-serif;
		color: rgb(224, 224, 224);;
	}
</style>
